.form {
  position: static;
  margin-top: 1%;
  margin-bottom: auto;
  border-style: solid;
  border-color: darkgray;
  text-align: center;
  padding-left: 50%;
  padding-right: 50%;
}
.box-shadow {
  width: 80%;
  max-widht: 550px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.form-control {
  width: 50rem;
}
.btn {
  width: 50rem;
  color: white;
  background-color: rgba(170, 98, 21, 0.87);
  margin-top: 1em;
}
.form-check {
  text-align: right;
  padding-right: 210px;
}
#gridCheck:active {
  background-color: none;
  color: black;
}
